.story {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;
  padding-top: 20px;
  padding-right: 24px;
  padding-left: 24px;
  text-align: left;

  @media (orientation: landscape) {
    text-align: center;
  }
}

.story.vote {
  padding-right: 23px;
}

.story__title {
  @include title;
  margin-bottom: 8px;
}

.story__subtitle {
  @include subtitle;
}

.story__user-name {
  @include clear-block;
  max-width: 100px;
  margin-bottom: 5px;
  @include font(500, 16px, 18px, $font-roboto);
}

.story__avatar-winner-emoji {
  position: absolute;
  z-index: 1;
  top: -22px;
  left: calc(50% - 4px);
  @include size(32px, 32px);
  font-size: 32px;
  line-height: 32px;
  transform: translateX(-50%);
}

.story__user-avatar {
  @include size(64px, 64px);
  border-radius: 50%;
}
