@font-face {
  font-weight: 700;
  font-family: 'Roboto';
  src: url('./fonts/RobotoBold.ttf') format('truetype');
  font-display: swap;
}

@font-face {
  font-weight: 500;
  font-family: 'Roboto';
  src: url('./fonts/RobotoMedium.ttf') format('truetype');
  font-display: swap;
}

@font-face {
  font-weight: 400;
  font-family: 'Roboto';
  src: url('./fonts/RobotoRegular.ttf') format('truetype');
  font-display: swap;
}
